## Framing the Problem:

This research aims to examine the impact of several factors (**median income, population, and number of households**) on the median house value within a certain dataset. We will construct three distinct univariate linear regression models to ascertain the most effective predictor of house prices and to assess the robustness of these associations.

After this analysis it will help to buyers for understanding the housing prices.

## Getting the Data
I am using the [California Housing Prices Dataset](https://www.kaggle.com/datasets/camnugent/california-housing-prices)

In [2]:
# importing the required libraries
import pandas as pd  # Data manipulation and analysis library
import numpy as np  # Library for numerical operations  

df = pd.read_csv(r"C:\Users\singh\Desktop\housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY